<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="검색결과">검색결과</title>
    <link rel="stylesheet" th:href="@{/static/asset/css/styles.css}"/>
</head>
<body>
    <div th:replace="fragments/searchHeader :: searchHeader" />
    <div class="main-wrapper">
        <div class="search-nav" th:text="'전체 > ' + ${keyword} + '(' + ${count} + ')'"></div>
        <div class="search-content">
            <div class="search-item" th:each="product : ${products}">
                <div class="search-item__thumbnail">
                    <img th:src="${product.thumbnail}" alt="thumbnail"/>
                </div>
                <h3 class="search-item__name" th:text="${product.name}">상품명</h3>
                <div class="price">
                    <span class="percent">10%</span>
                    <span class="higher-price js-price" th:text="${product.price / 0.9}">가격</span>
                    <span class="lower-price js-price" th:text="${product.price}">가격</span>
                    <img class="price__rocket" th:if="${product.is_rocket eq 'on'}" th:src="@{/static/asset/img/rocket_logo.png}"/>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div th:replace="fragments/footer :: footer" />

    <script type="module" src="../static/asset/js/product/searchList.js"></script>
</body>

</html>
