<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="../static/asset/css/styles.css" rel="stylesheet" th:href="@{/static/asset/css/styles.css}"/>
</head>
<body>
    <input id="idStorage" type="hidden" name="id" th:if="${session.containsKey('id')}" th:value="${session.id}"/>
    <!--
    <input id="emailStorage" type="hidden" name="email" th:if="${session.containsKey('email')}" th:value="${session.email}"/>
    -->
    <div th:replace="fragments/searchHeader :: searchHeader" />
    <div class="main-wrapper">
        <div class="main-banner">
            <div class="main-banner__banners"></div>
            <div class="main-banner__joysticks">
                <div class="joystick joystick1"><img src="../static/asset/img/banner/banner1_sub.jpg" alt="banner1_sub"/></div>
                <div class="joystick joystick2"><img src="../static/asset/img/banner/banner2_sub.jpg" alt="banner2_sub"/></div>
                <div class="joystick joystick3"><img src="../static/asset/img/banner/banner3_sub.jpg" alt="banner3_sub"/></div>
                <div class="joystick joystick4"><img src="../static/asset/img/banner/banner4_sub.jpg" alt="banner4_sub"/></div>
                <div class="joystick joystick5"><img src="../static/asset/img/banner/banner5_sub.jpg" alt="banner5_sub"/></div>
                <div class="joystick joystick6"><img src="../static/asset/img/banner/banner6_sub.jpg" alt="banner6_sub"/></div>
            </div>
        </div>

        <div class="main-categories">
            <div class="main-categories__header"></div>
            <div class="main-category living">
                <div class="main-category__title-col">
                    <div class="title"></div>
                    바로가기 >
                </div>
                <div class="main-category__center-col">
                    <div>
                        <img th:src="@{/static/asset/img/wallpaper/wallpaper1.jpg}"/>
                    </div>
                </div>
                <div class="main-category__items-col">
                    <div class="main-category__items_col__products" th:each="product : ${products}">
                        <a th:href="'/product/' + ${product.id}">
                        <div class="pic">
                            <img th:attr="src=${product.thumbnail}, title=@{thumbnail},alt=@{thumbnail}"/>
                        </div>
                        <div class="name" th:text="${product.name}"></div>
                        <div class="price">
                            <span class="js-price" th:text="${product.price}">가격</span>
                            <img class="price__rocket" th:if="${product.is_rocket eq 'on'}" th:src="@{/static/asset/img/rocket_logo.png}"/>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        </div>
    </div>

    <div th:replace="fragments/footer :: footer" />
    <script src="../static/asset/js/main.js"></script>
    <script src="../static/asset/js/searchHeader.js"></script>
</body>
</html>