.product-detail-header {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.product-detail-header__thumbnail {
    width: 5rem;
    padding: 0 0.5rem;
    height: 4rem;
    overflow: hidden;
    margin-left: 1rem;
    margin: 0 auto;
}
.product-detail-header__thumbnail > div {
    width: 100%;
    height: 100%;
    border: 2px solid #0074e9;
}
.product-detail-header__thumbnail > div > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.product-detail-header__pic {
    width: calc(50% - 5rem);
    overflow: hidden;
}
.product-detail-header__pic div{
    margin-left: 1rem;
    width: 450px;
    height: 450px;
    overflow: hidden;
}
.product-detail-header__pic div img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.product-detail-header__infos {
    width: 50%;
    padding: 1%;
}
.product-detail-header__infos__producer {
    color: var(--blue);
}
.product-detail-header__infos__name {
    border-bottom: 1px solid rgba(0,0,0,.3);
    font-size: 1.2rem;
    font-weight: 600;
    word-break: break-all;
    padding: 1% 0;
}
.product-detail-header__infos__price > .price > .higher-price{
    color: rgba(0,0,0,.6);
    text-decoration: line-through;
}
.product-detail-header__infos__price > .price > .higher-price::after{
    content: "";
    display: block;
}
.product-detail-header__infos__price > .price > .lower-price{
    color: var(--red);
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: -1px;
}
.product-detail-header__infos__price > .price > .price__rocket {
    width: 5rem;
}

.product-detail-header__infos__buy {
    display: flex;
}
.product-detail-header__infos__buy .buy-quantity {
    display: flex;
}
.buy-quantity__input {
    border: 1px solid rgba(0,0,0,.3);
    text-align: center;
    width: 5rem;
    font-size: 1.2rem;
    padding: 2%;
}
.buy-quantity .quantity {
    width: 2.5rem;
    margin-right: 5%;
    border: 0;
}
.buy-quantity .quantity div{
    border: 1px solid rgba(0,0,0,.5);
    width: 100%;
    text-align: center;
    height: 50%;
}
.buy-quantity .quantity div:hover{
    cursor: pointer;
}
.js-quantity-up {
    border-left: 0px!important;
    border-bottom: 0px!important;
}
.js-quantity-down {
    border-left: 0px!important;
}
.product-detail-header__infos__buy {
    padding: 3% 0;
}
.product-detail-header__infos__buy button {
    background-color: #0074e9;
    border: 0;
    width: 100%;
    color: white;
    font-weight: 600;
    margin: 0;
    height: 2.8rem;
    font-size: 1rem;
    cursor: pointer;
    width: 40%;
    margin-left: 3%;
}
.product-detail-header__infos__buy button:nth-child(2n) {
    background-color: white;
    color: #0074e9;
    border: 1px solid var(--blue);
}
.product-detail-tabs {
    border-top: 1px solid rgba(0,0,0,0.8);
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 3.5rem;
    background: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.product-detail-tabs div{
    width: 25%;
    line-height: 3.5rem;
    background: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.2);
    font-size: 1rem;
}
.product-detail-tabs div.active{
    border-bottom: 0;
    background: white;
    font-weight: 600;
}

.product-detail-content {
    width: 75%;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
}
.product-detail-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.auto-height {
    height: auto!important;
}
.product-detail-header__pic .magnified-product {
    position: absolute;
    top: 10.2rem;
    left: calc(50% - 1rem);
}
.product-detail-header__pic .magnified-product img{
    width: 800px;
    height: 800px;
}
.product-detail-body hr{
    margin:0;
}
.product-detail-content {
    position: relative;
}
.product-detail-content__spreader {
    display: block;
    background: white;
    border: 1px solid var(--blue);
    color: var(--blue);
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    bottom: 50px;
    position: absolute;
    left: calc(50% - 100px);
    font-weight: 600;
    cursor: pointer;
}
.product-detail-review {

}
.product-detail-review .blue-button{
    float: right;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}
.product-detail-review h3 {
    font-size: 1.5rem;
}
/*----- 상품평 시작 -----*/
.myreview__review__header__emoticon {
    float: left;
    width: 4rem;
    margin-right: 1rem;
}
/*----- 상품평 끝 -----*/
/*---------------- 상품문의 바깥페이지 시작 ----------------*/
.product-detail-ask {
    padding: 2rem;
    border: 1px solid rgba(0,0,0,0.4);
}
.product-detail-ask .white-button {
    float: right;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}
.product-detail-ask__content {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
    margin-bottom: 0!important;
}
.product-detail-ask__content-box {
    border-top: 3px solid rgba(0,0,0,.6);
    margin-top: 2rem;
    height: 15rem;
    overflow: hidden;
    position: relative;
}

.product-detail-ask__content__header {
    margin-left: 4rem;
    display: flex;
    justify-content: space-between;
}
.product-detail-ask__content__header .email {
    font-weight: 600;
}
.product-detail-ask__content__header .date {
    font-weight: 500;
    color: rgba(0,0,0,0.6);
}
.product-detail-ask__content__body {
    margin-left: 4rem;
}
.reply-icon {
    float: left;
    background-image: url(//img1a.coupangcdn.com/image/coupang/product/icon-reply.png);
    width: 15px;
    height: 18px;
    background-size: 0.9rem;
    margin-bottom: 0!important;
    margin-right: 5px!important;
    margin-top: 5px;
}
.question-or-answer {
    display: block;
    color: white;
    background: gray;
    float: left;
    padding: 0.4rem 0.6rem;
    margin-right: 1rem;
}
.question-or-answer.question {
}
.question-or-answer.answer {
    background: #346aff;
}
.product-detail-ask__content-box__spreader {
    display: block;
    background: white;
    border: 1px solid var(--blue);
    color: var(--blue);
    width: 200px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin: 0 auto;
    bottom: 0px;
    position: absolute;
    left: calc(50% - 100px);
    font-weight: 600;
    cursor: pointer;
}
/*---------------- 상품문의 바깥페이지 끝 ----------------*/
/*---------------- 상품문의 미니 페이지 시작----------------*/
.close-pop {
    cursor: pointer;
}
.shadow-setter {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
.ask-product-page {
    position: fixed;
    top: 21%;
    z-index: 1;
    background: lightgray;
    width: 40%;
    left: 30%;
    top: 17%;
    background: white;
    border: 1px solid black;
}
.ask-product-page header {
    padding: 1.5rem;
    margin-bottom: 0;
    background: #eeeeee;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
.ask-product-page header span{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}
.ask-product-page .ask-product-page__content {
    font-size: 0;
    padding: 0 1.5rem;
}
.ask-product-page .ask-product-page__content table{
    border-top: 1px solid black;
}
.ask-product-page__content td {
    border: 0;
}
.ask-product-page__content td {
    font-size: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
}
.ask-product-page__content td:nth-child(2n+1) {
    width: 25%;
    border-right: 1px solid rgba(0,0,0,0.1);
}
.ask-product-page__content td:nth-child(2n) {
    width: 75%;
}
.ask-product-page__content select {
    width: 70%;
    height: 2rem;
}
.ask-product-page__content textarea {
    width: 100%;
}
.ask-product-page p {
    padding: 0 1.5rem;
    margin: 1.5rem 0;
}
.ask-product-page .buttons {
    justify-content: center!important;
    gap: 1rem;
}
.ask-product-page .buttons button,
.ask-product-page .buttons input {
    width: 8rem;
    cursor: pointer;
}
.ask-product-page .buttons input {
    background: white;
    color: var(--blue);
    border: 1px solid var(--blue);
}
/*---------------- 상품문의 미니 페이지 끝----------------*/
.product-detail-ask h3 {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.product-detail-ask * {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.product-detail-ask ul li::marker {
    color: rgba(0,0,0,0.4);
}
.product-detail-ask ul * {
    color: rgba(0,0,0,0.8);
}
.product-detail-ask ul strong {
    color: black;
}
.product-detail-info {
    font-size: 0;
}
.product-detail-info h3{
    font-size: initial;
    margin-top: 2.5rem;
}
.product-detail-info span {
    display: inline-block;
    margin-top: -1px;
    padding: 1rem;
}
.product-detail-info span:nth-child(2n+1) {
    width: 25%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.02);
}
.product-detail-info span:nth-child(2n) {
    width: 75%;
    margin-left: -1px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.delivery-info__detail,
.refund-info__detail,
.refund-restriction__detail {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.delivery-info__detail > *,
.refund-info__detail > *,
.refund-restriction__detail > * {
    font-size: 1rem;
}