/* import component */
@import "component/index.css";
@import "component/register.css";
@import "component/icon.css";

/* import page css */
@import "pages/main.css";
@import "pages/product/register.css";

:root {
    --blue: #4285f4;
    --black: #373737;
}
.blue {
    color: var(--blue);
}
.black {
    color: var(--black);
}
* {
    box-sizing: border-box;
}
body {
    all: unset;
}
input::placeholder {
    color: rgba(0,0,0,.4);
}
.copyright {
    font-size: 0.8rem;
    color: rgba(0,0,0,0.7);
}