/* import component */
@import "component/index.css";
@import "component/register.css";
@import "component/icon.css";
@import "component/simpleHeader.css";
@import "component/searchHeader.css";
@import "component/margin.css";
@import "component/font.css";
@import "component/button.css";
@import "component/price_quantity.css";

/* import page css */
@import "pages/main.css";
@import "pages/product/register.css";
@import "pages/product/detail.css";
@import "pages/order/directCheckout.css";
@import "pages/order/after.css";
@import "pages/address/registerForm.css";
@import "pages/cart/show.css";
@import "pages/product/searchList.css";

:root {
    --blue: #4285f4;
    --deep-blue: #3d82f8;
    --black: #373737;
    --red : #b92000;
}
.blue {
    color: var(--blue);
}
.black {
    color: var(--black);
}
* {
    box-sizing: border-box;
}
body {
    all: unset;
}
input::placeholder {
    color: rgba(0,0,0,.4);
}
.copyright {
    font-size: 0.8rem;
    color: rgba(0,0,0,0.7);
}
a {
    all: unset;
    cursor: pointer;
}
.hidden {
    display: none;
}