.register-address-header {
    width: 100%;
}
/* 주소 노출부 */
.register-address-header h3{
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.register-address-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 27rem;
}
.register-address-profile input {
    width: 100%;
    height: 100%;
    border: 0px;
}
/* double-line인 경우 */
.register-address-profile > div.register-address-profile__address {
    height: 8rem;
}
.register-address-profile > div.register-address-profile__address > div > label > span:first-child {
    padding: 3rem 1.1rem;
}
.register-address-profile__address:not(.double-line) > div > label > span:nth-child(2) > span:nth-child(2) {
    border-top: 1px solid rgba(0,0,0,.3);
}
.register-address-profile__address.double-line > div > label > span:nth-child(2) > span:nth-child(2) {
    display: none;
}
/* double-line 아닌 경우 */
.register-address-profile > button {
    height: 3.5rem;
    background: var(--blue);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 5%;
}
.register-address-profile > div {
    width: 100%;
    overflow: hidden;
    height: 4rem;
    padding: 0 5%;
}
.register-address-profile__address {
    height: 8rem;
}

.register-address-profile > div > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.3);
}
.register-address-profile > div > div > label {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.register-address-profile > div > div > label > span:first-child {
    height: 100%;
    width: 4rem;
    padding: 0.95rem 1.1rem;
    overflow: hidden;
    display: inline-block;
}
.register-address-profile > div > div > label > span:nth-child(2) {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 4rem);
    padding: 0;
    margin: 0;
    border-left: 1px solid rgba(0,0,0,.3);
}
.register-address-profile > div > div > label > span:nth-child(2) > input{
    width: 100%;
    height: 100%;
    border: 0;
}
.register-address-profile > div > div > label > span:nth-child(2) span {
    width: 100%;
    height: 100%;
}
.register-address-profile > div > div > label > span:nth-child(2) > input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    border: 0px;
}

/* 주소 검색부 */
.register-address-input {
    background: rgba(0,0,0,.1);
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.register-address-input input {
    padding: 0.8rem;
    font-size: 1rem;
    width: 85%;
    height: 3rem;
    border: 0px;
    outline: 0px;
    border-radius: 0.2rem;
}
.register-address-input input::placeholder {
    font-size: 1rem;
}
.register-address-input button {
    width: 15%;
    height: 3rem;
    border: 0px;
    outline: 0px;
    border-radius: 0.2rem;
    background: var(--blue);
    color: white;
}
.register-address-content__title > div {
    padding: 10px;
    padding-right: 0;
    width: auto;
    display: inline-block;
}
.register-address-content__title > div:first-child::before {
    content: "총 ";
}
.register-address-content__title > div:first-child::after {
    content: "건이 검색되었습니다.";
}
.register-address-content__search-result {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
}
.register-address-content__search-result > div{
    position: relative;
    width: 100%;
}
.register-address-content__search-result > .search-result > div {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.register-address-content__search-result > .search-result > div:nth-child(3n+1) {
    position: absolute;
    height: 100%;
    right: 0;
    width: 20%;
    float: right;
    line-height: 6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-address-content__search-result > .search-result > div:nth-child(3n+2),
.register-address-content__search-result > .search-result > div:nth-child(3n+3) {
    height: 50%;
    width: 80%;
    line-height: 3rem;
    overflow-x: scroll;
    /* scroll bar 숨기기 */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.register-address-content__search-result > .search-result > div:nth-child(3n+2)::-webkit-scrollbar,
.register-address-content__search-result > .search-result > div:nth-child(3n+3)::-webkit-scrollbar {
    /* scroll bar 숨기기 */
    display: none; /* Chrome, Safari, Opera*/
}