
.main-wrapper {
    padding: 0 5rem;
    font-size: 0.8rem;
    width: 1280px;
    margin: 0 auto;}
nav {
    background: #f0f0f0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    font-size: 0.8rem;
    width: 1280px;
    margin: 0 auto;
}
nav div {
    padding: 5px 0;
}

nav .nav-left {
    display: flex;
}
nav .nav-left a {
    text-decoration: none;
    color: black;
}

nav .nav-right {
    display: flex;
}

nav > div > div:nth-child(2n) {
    margin: 0 0.35em;
}

.category-bar {
    position: absolute;
    width: 110px;
    height: 110px;
    overflow: hidden;
}
.non-category-bar {
    padding: 22px 0 0 41px;
}
.non-category-bar__search-row,
.non-category-bar__detail-row {
    margin-left: 110px;
    display: flex;
    flex-direction: row;
    width: calc(100% - 110px);
    align-items: center;
}

.non-category-bar__search-row {
    height: 56px;
}

.main-logo-btn {
    display: inline-block;
    width: 174px;
    height: 41px;
    background: url("../../img/logo.png");
    background-size: 174px 41px;
}

.search-row__search-bar {
    border: 2px solid var(--blue);
    width: 65%;
    height: 38px;
    margin: 0 20px;
}
.non-category-bar__detail-row {
    height: 32px;
    justify-content: space-around;
    width: 45rem;
}
.main-banner {
    height: 450px;
}
.main-banner__banners {
    background: url(../../img/banner/banner1.jpg);
    background-size: cover;
    height: 450px;
    background-position: center;
    width: 150%;
    margin-left: -25%;
}

.main-banner__joysticks {
    position: relative;
    margin-top: -405px;
    right: -940px;
    height: 360px;
    width: 180px;
    background: gray;
}
.main-banner__joysticks .joystick{
    height: calc(1 / 6 * 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.joystick {
    cursor: pointer;
}
.joystick:hover {
    border: 2px solid var(--blue);
    overflow: hidden;
}
.main-categories__header {
    margin-top: 3em;
    margin-bottom: 2%;
    background: url(../../img/icon/font-icon.png);
    width: 290px;
    height: 55px;
    background-position: 0px -100px;
    background-size: 280%;
}
.main-category {
    display: flex;
    height: 600px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 30px;
}
.main-category__title-col {
    width: 15%;
    background-size: contain;
}
.main-category__title-col {
    padding: 4% 1% 1% 2%;
    color: rgba(0,0,0,.5);
}
.main-category.living {
    border-top: 1px solid rgba(181, 71, 48, 0.6);
}
.living .main-category__title-col .title {
    background-image: url(../../img/title/best_title_home_decoration.png);
    height: 75px;
    width: 100%;
    background-size: cover;
    margin-bottom: 10%;
}

.main-category__center-col {
    width: 30%;
}
.main-category__center-col div {
    width: 100%;
    height: 100%;
}
.main-category__center-col div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-category__items-col {
    font-size: 0;
    width: 55%;
}
.main-category__items_col__products {
    height: 50%;
    width: 33.33%;
    display: inline-block;
    overflow: hidden;
}
.main-category__items_col__products:nth-child(6n+1),
.main-category__items_col__products:nth-child(6n+2),
.main-category__items_col__products:nth-child(6n+3) {
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.main-category__items_col__products > a > * {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 0 15px;
}
.main-category__items_col__products .pic{
    padding: 15px;
    height: 70%;
}
.main-category__items_col__products .pic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main-category__items_col__products .name{
    overflow: hidden;
    max-height: 3.2rem;
}
.main-category__items_col__products > a > .price > .higher-price{
    color: rgba(0,0,0,.6);
    text-decoration: line-through;
}
.main-category__items_col__products > a > .price > .higher-price::after{
    content: "";
    display: block;
}
.main-category__items_col__products > a > .price > .lower-price{
    color: var(--red);
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: -1px;
}
.main-category__items_col__products > a > .price > .price__rocket {
    width: 5rem;
}

footer {
    height:370px;
    left: 0;
    top: 0;
    padding: 0 5rem;
    font-size: 0.8rem;
    width: 1280px;
    margin: 0 auto;
    color: rgba(0,0,0,0.6);
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6{
    margin: 0;
    display: inline-block;
}
footer div {
    padding: 5px 0;
    width: 100%;
}

footer .layer1 {
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}
footer .layer2,
footer .layer3{
    height: 160px;
    padding: 3% 5% 1% 5%;
    display: flex;
    align-items: flex-start;
}
footer .layer2 div {
    width: calc((100% - 19.3%) / 3);
}
footer .layer2 .layer2__logo {
    width: 19.3%;
    padding: 5px 1%;
}
.layer2__logo .main-logo-btn {
    width: 100%;
    filter: brightness(0);
    opacity: 0.4;
}

footer .layer3,
footer .layer4 {
    height: 80px;
}

footer .layer3{
    padding-top: 0;
    padding-bottom: 0;
    background: url(../../img/icon/round-icon.png);
    background-position: -12px -150px;
    background-size: cover;
}

footer .layer4 {
    height: 110px;
    background: #333;
    color: rgba(255,255,255,.4);
    padding: 1% 5%;
}