<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>바로 결제하기</title>
    <link href="../../../static/asset/css/styles.css" rel="stylesheet" th:href="@{/static/asset/css/styles.css}"/>
</head>
<body>
    <div th:replace="fragments/searchHeader :: searchHeader" />

    <div class="main-wrapper">
        <div class="order-after__header margin-1-1rem">
        </div>
        <hr class="margin-0-1rem"/>
        <div class="order-after__content">
            <h1><span class="blue-font">주문이 완료</span>되었습니다. 감사합니다!</h1>
            <div>
                <h4 th:text="'주문일 : ' + ${#dates.format(order.date,'yyyy-MM-dd HH:mm:ss')}">주문일</h4>
                <h4 th:text="'주문번호 : ' + ${order.id}">주문번호</h4>
            </div>
            <input type="submit" onclick="location.href='/main'" class="blue-button" value="계속쇼핑하기>"/>
        </div>
        <hr class="margin-0-1rem"/>
        <div class="side-by-side margin-0-1rem">
            <div class="side-by-side__loaf">
                <h2>받는사람 정보</h2>
                <div class="side-by-side__loaf__content">
                    <div>이름</div>
                    <div th:text="${order.delivery.address.receiverName}"></div>
                    <div>휴대폰</div>
                    <div class="js-tel" th:text="${order.delivery.address.receiverTel}"></div>
                    <div>연락처</div>
                    <div class="js-tel" th:text="${order.delivery.address.receiverTel}"></div>
                    <div>배송주소</div>
                    <div th:text="${order.delivery.address.street} + ' ' + ${order.delivery.address.detail}"></div>
                    <div>배송요청사항</div>
                    <div th:text="${order.delivery.address.ask}"></div>
                    <div>배송현황</div>
                    <div th:text="${#strings.equals(order.delivery.status, 'READY') ?
                                        '배송준비' :
                                        (#strings.equals(order.status, 'INDELIVERY')?
                                        '배송중' :
                                        '배송완료')}"></div>
                </div>
            </div>
            <div class="side-by-side__loaf">
                <h2>결제 정보</h2>
                <div class="side-by-side__loaf__content">
                    <div>이름</div>
                    <div th:text="${order.delivery.address.receiverName}"></div>
                    <div>휴대폰</div>
                    <div class="js-tel" th:text="${order.delivery.address.receiverTel}"></div>
                    <div>연락처</div>
                    <div class="js-tel" th:text="${order.delivery.address.receiverTel}"></div>
                    <div>배송주소</div>
                    <div th:text="${order.delivery.address.street} + ' ' + ${order.delivery.address.detail}"></div>
                    <div>배송요청사항</div>
                    <div th:text="${order.delivery.address.ask}"></div>
                    <div>결제현황</div>
                    <div th:text="${#strings.equals(order.status, 'ORDER') ?
                                        '주문완료' :
                                        (#strings.equals(order.status, 'PAID')?
                                        '결제완료' :
                                        '취소상태')}"></div>
                </div>
            </div>
<!--        </div>-->
    </div>
    <div th:replace="fragments/footer :: footer" />
    <script type="module" th:src="@{/static/asset/js/order/after.js}">
    </script>
</body>
</html>
<!--
http://www.juso.go.kr/addrlink/addrLinkApi.do?currentPage=1&confmKey=devU01TX0FVVEgyMDIwMTIxNzE3MTY1MDExMDU2NTE=&resultType=json&keyword=%EB%8B%B9%EC%82%B0%EB%A1%9C%20214%27
-->