<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>쿠팡!</title>
    <link rel="stylesheet" th:href="@{/static/asset/css/styles.css}"/>
</head>
<body>
    <div th:replace="fragments/searchHeader :: searchHeader" />
        <div class="main-wrapper">
            <div class="member-container">
                <h1>회원정보확인</h1>
                <p class="member-container__email">
                    <span class="blue-font" th:text="${member.email}"></span>
                    님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 확인 합니다.
                </p>
                <table class="member-container__password">
                    <tr>
                        <td>아이디(이메일)</td>
                        <td><span th:text="${member.email}"></span></td>
                    </tr>
                    <tr>
                        <td>비밀번호</td>
                        <td><input class="password-input" name="password" type="password"/></td>
                    </tr>
                </table>
                <div class="buttons">
                    <button class="blue-button js-modify">확인</button>
                    <input class="js-home" type="button" value="취소"/>
                </div>
            </div>
        </div>
    <div th:replace="fragments/footer :: footer" />
    <script type="module" th:src="@{/static/asset/js/member/modify.js}">
    </script>
</body>

</html>