<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="../static/asset/css/styles.css" rel="stylesheet" th:href="@{/static/asset/css/styles.css}"/>
</head>
<body>
    <nav>
        <div class="nav-left">
            <div>즐겨찾기</div>
            <div>입점신청</div>
        </div>
        <div class="nav-right">
            <div>로그인</div>
            <div>회원가입</div>
            <div>고객센터</div>
        </div>
    </nav>
    <div class="main-wrapper">
        <header>
            <div class="category-bar">
                <div class="menu-icon" alt="menu-icon"></div>
            </div>
            <div class="non-category-bar">
                <div class="non-category-bar__search-row">
                    <div class="search-row__logo">
                        <div class="category-btn" alt="logo"></div>
                    </div>
                    <div class="search-row__search-bar"></div>
                    <div class="search-row__mypage">
                        <div><div class="my-coupang-icon"></div>마이쿠팡</div>
                        <div><div class="my-coupang-title"></div>장바구니</div>
                    </div>
                </div>
                <div class="non-category-bar__detail-row">
                    <span>로켓배송</span>
                    <span>로켓프레시</span>
                    <span>크리스마스</span>
                    <span>로켓직구</span>
                    <span>골드박스</span>
                    <span>정기배송</span>
                    <span>이벤트/쿠폰</span>
                    <span>기획적</span>
                    <span>여행/티켓</span>
                </div>
            </div>
        </header>
        <div class="main-banner">
            <div class="main-banner__banners"></div>
            <div class="main-banner__joysticks">
                <div class="joystick joystick1"><img src="../static/asset/img/banner/banner1_sub.jpg" alt="banner1_sub"/></div>
                <div class="joystick joystick2"><img src="../static/asset/img/banner/banner2_sub.jpg" alt="banner2_sub"/></div>
                <div class="joystick joystick3"><img src="../static/asset/img/banner/banner3_sub.jpg" alt="banner3_sub"/></div>
                <div class="joystick joystick4"><img src="../static/asset/img/banner/banner4_sub.jpg" alt="banner4_sub"/></div>
                <div class="joystick joystick5"><img src="../static/asset/img/banner/banner5_sub.jpg" alt="banner5_sub"/></div>
                <div class="joystick joystick6"><img src="../static/asset/img/banner/banner6_sub.jpg" alt="banner6_sub"/></div>
            </div>
        </div>

        <div class="main-categories">
            <div class="main-categories__header"></div>
            <div class="main-category">
                <div class="main-category__title-col living">1</div>
                <div class="main-category__center-col">2</div>
                <div class="main-category__items-col">3</div>
            </div>
        </div>
        <ol th:each="member : ${members}">
            <li th:text="${member.email}"></li>
        </ol>

        </div>
    </div>
    <script src="../static/asset/js/main.js"></script>
</body>
</html>