<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to OreoTaste</title>
    <style>
        .info {
            list-style: none;
            padding: 0;
        }
    </style>
</head>
<body>
<form action="/new" method="post">
    <p>Welcome to OreoTaste</p>
    <ul class="info">
        <li>
            <input type="text" name="name" placeholder="username" required/><br>
        </li>
        <li>
            <input type="password" name="password" placeholder="password" required/>
        </li>
    </ul>
    <button>Sign up</button>
    <button type="reset">reset</button>
</form>
</body>
</html>