.icon-wrapper {
    margin: 0!important;
    padding: 0;
    height: 100%!important;
    width: 100%;
    overflow: hidden;
}
.icon-wrapper img {
    transform: translate(-1px, 0px);
}
/* 더하기 빼기 아이콘 (장바구니에서 사용) */
span.plus {
    background: url(/static/asset/img/icon/calculate-icon.png);
    width: 18px;
    height: 18px;
    margin: 0 1rem;
    background-size: cover;
    background-position: 0rem 0px;
}
span.minus {
    background: url(/static/asset/img/icon/calculate-icon.png);
    width: 18px;
    height: 18px;
    margin: 0 1rem;
    background-size: cover;
    background-position: -18px 0px;
}
span.equals {
    background: url(/static/asset/img/icon/calculate-icon.png);
    width: 18px;
    height: 18px;
    margin: 0 1rem;
    background-size: cover;
    background-position: 18px 0px;
}

/* 주소등록 페이지 */
.register-address-profile .address__profile-icon{
    transform: translate(29px, 27px) scale(1.5);
}
.register-address-profile .address__address-icon {
    transform: translate(-6px, 27px) scale(1.5);
}
.register-address-profile .address__tel-icon {
    transform: translate(-35px, 27px) scale(1.5);
}
.register-address-profile .address__ask-icon {
    transform: translate(-63px, 26px) scale(1.5);
}


#email-icon {
    transform: translate(-1px, 0px);
}
#password-icon {
    transform: translate(-22px, -1.3px);
}
#password-icon-2 {
    transform: translate(-22px, -1.3px);
}
#name-icon {
    transform: translate(-1px, -22.5px);
}
#tel-icon {
    transform: translate(-21px, -22.5px);
}
.agree-content__summary > h4:fist-child{
    margin: 1.2rem 0 0.6rem 0;
}
.agree-content__summary__check-all > *{
    display: inline-block;
    margin: 0;
}
.agree-content__summary__check-all > input{
    width: 1rem;
    height: 1rem;
}
.agree-content__summary__check-all > h4 {
    margin: 0 0 0.6rem 0.6rem;
}

.agree-context__lines {
    border: 1px solid rgba(0,0,0,0.3);
    padding: 1rem;
    font-size: 0.9rem;
}
.agree-context__lines div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.agree-context__lines div > *{
    display: inline-block;
}
.agree-context__lines div > input{
    width: 1rem;
    height: 1rem;
}
.agree-context__lines div > p{
    margin: 0.4rem 0.8rem;
}

.agree-context__line {
    display: flex;
    flex-direction: row;
    align-items: center;
}