.menu-icon {
    width: 110px;
    height: 110px;
    background: url("../../img/icon/header-icon.png");
}

.search-row__mypage {
    width: 12%;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}
.search-row__mypage div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-row__mypage .my-coupang-icon {
    width: 30px;
    height: 30px;
    background: url(../../img/icon/header-icon.png);
    background-position: -112px -42px;
    margin-bottom: 2px;
}
.search-row__mypage .my-coupang-title {
    width: 40px;
    height: 40px;
    background: url(../../img/icon/header-icon.png);
    background-position: -112px 0px;
    cursor: pointer;
    color: white;
    padding-left: 13px;
    font-size: 12px;
    padding-top: 1px;
}

.search-row__logo img {
    width: 174px;
}

.search-row__search-bar {
    outline: none;
}