<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/asset/css/styles.css}"/>
</head>
<body>
    <div th:replace="fragments/searchHeader :: searchHeader" />
    <div th:replace="fragments/mycoupangLeftMenu :: mycoupangLeftMenu" />

    <!------------------------- 컨텐츠 시작 ------------------------->
    <div class="main-wrapper">
        <div class="mycoupang-wrapper">
            <div class="mycoupang-wrapper__content">
                <div class="mycoupang-wrapper__content__group sharp">

                    <article class="address-list">
                        <div class="address-box" th:each="address : ${addressList}">
                            <div class="address-id hidden" th:text="${address.id}">주소지 id</div>
                            <div class="address-receiver" th:text="${address.receiverName}">수령자 성함</div>
                            <div class="address-address" th:text="${address.street + ' [' + address.detail + ']'}">주소지 & 세부주소</div>
                            <div class="address-tel js-tel" th:text="${address.receiverTel}">전화번호</div>
                            <div class="address-postbox" th:text="${address.zipcode}">우편번호</div>
                            <div class="address-ask" th:text="${address.ask}">요청사항</div>
                            <div class="address-buttons">
                                <button class="white-button change-address">수정</button>
                                <button class="white-button delete-address">삭제</button>
                            </div>
                        </div>
                        <button class="register-address">+배송지 추가</button>
                    </article>

                </div>
            </div>
        </div>
    </div>
    <!------------------------- 컨텐츠 끝 ------------------------->
    <script type="module" th:src="@{/static/asset/js/address/list.js}">
    </script>
</body>
</html>