<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/asset/css/styles.css}"/>
</head>
<body>
    <div>
        <div th:text="${address.street + ' [' + address.detail + ']'}">주소지 & 세부주소</div>
        <div th:text="${address.zipcode}">우편번호</div>
        <div th:text="${address.ask}">요청사항</div>
        <div th:text="${address.receiverName + '' + address.receiverTel}">수령자 성함 & 전화번호</div>
        <div th:text="${address.member.name + '' + address.member.tel}">주문자 성함 & 전화번호</div>
    </div>

</body>
</html>