.no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 50rem;
}

/*------------------------ content 시작------------------------*/
.mycoupang-wrapper__content {
    width: calc(100% - 150px);
    float: right;
}
.mycoupang-wrapper__content__top {
    height: 7rem;
    line-height: 7rem;
    color: white;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    background: #82bce2;
}
.mycoupang-wrapper__content__top > div {
    float: left;
    width: 20%;
    border-right: 1px solid rgba(255,255,255,.3);
}
.mycoupang-wrapper__content__group {
    padding: 2rem;
    padding-top: 0;
    margin: 1rem;
    margin-right: 0;
    border: 1px solid rgba(0,0,0,0.2);
}
.mycoupang-wrapper__content__group.round{
    border-radius: 1rem;
}
.mycoupang-wrapper__content__group .top {
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 1.5rem 0 1rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}
.mycoupang-wrapper__content__group .top span:last-child {
    font-size: 1rem;
    font-weight: 500;
}
.mycoupang-wrapper__content__group .product {
    height: 12rem;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 1rem;
}
.mycoupang-wrapper__content__group .product:last-child {
    margin-bottom: 0;
}

.mycoupang-wrapper__content__group .product__pic {
    height: 100%;
    width: 12rem;
    overflow: hidden;
    display: inline-block;
    float: left;
    padding: 1.5rem;
}
.mycoupang-wrapper__content__group .product__pic img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.mycoupang-wrapper__content__group .product__info {
    width: calc(100% - 10rem - 12rem);
    height: 12rem;
    float: left;
    border-right: 1px solid rgba(0,0,0,.1);
}
.mycoupang-wrapper__content__group .product__info > * {
    height: 6rem;
    padding: 1rem;
    font-size: 0.8rem;
}
.mycoupang-wrapper__content__group .product__info .price__rocket {
    width: 4.5rem;
}
.mycoupang-wrapper__content__group .product__info > div:first-child {
    height: 6rem;
    line-height: 6rem;
    font-size: 1.1rem;
}
.mycoupang-wrapper__content__group .product .white-button {
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.5rem 0.8rem;
    border: 1px solid rgba(0,0,0,.3);
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mycoupang-wrapper__content__group .buttons {
    float: right;
    height: calc(100% - 2rem);
    width: 10rem;
    margin: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
}
.mycoupang-wrapper__content__group .buttons > * {
    height: 2rem;
    margin: 2%;
    padding: 0;
}
.mycoupang-wrapper__content__group .buttons .js-show-delivery {
    border: 1px solid #3d82f7;
    color: var(--button-blue);
}
/*------------------------ content 끝------------------------*/
