<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="mycoupangLeftMenu">
<div  class="main-wrapper">
    <div class="mycoupang-wrapper">
        <div class="mycoupang-wrapper__left-menu">
            <div class="mycoupang-wrapper__left-menu__top">
                MY쿠팡
            </div>
            <div class="mycoupang-wrapper__left-menu__group1 left-group">
                <div class="title">My 쇼핑</div>
                <div><a href="/mycoupang">주문목록/배송조회</a></div>
                <div><a href="/mycoupang/cancel">취소/반품/교환/환불내역</a></div>
                <div>로켓와우 멤버십 관리</div>
                <div>정기배송관리</div>
                <div>영수증 조회/출력</div>
            </div>
            <div class="mycoupang-wrapper__left-menu__group2 left-group">
                <div class="title">My 혜택</div>
                <div>할인쿠폰</div>
                <div>쿠팡캐시/기프트카드</div>
            </div>
            <div class="mycoupang-wrapper__left-menu__group3 left-group">
                <div class="title">My 활동</div>
                <div>문의하기</div>
                <div>문의내역 확인</div>
                <div><a href="/productreview/reviewable">구매후기</a></div>
                <div>찜 리스트</div>
            </div>
            <div class="mycoupang-wrapper__left-menu__group4 left-group">
                <div class="title">My 정보</div>
                <div><a href="/mycoupang/userModify">개인정보확인/수정</a></div>
                <div>결제수단·쿠페이 관리</div>
                <div><a href="/address/list">배송지 관리</a></div>
            </div>
            <div class="mycoupang-wrapper__left-menu__bottom">
                <a href="">
                    <div class="ask-coupang" alt="쿠팡문의"></div>
                </a>
                <a href="">
                    <div class="sound-of-customer" alt="고객의소리"></div>
                </a>
                <a href="">
                    <div class="cancel-and-refund" alt="취소/반품안내"></div>
                </a>
            </div>
        </div>
    </div>
</div>