<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="mycoupangTopMenu">
<div  class="main-wrapper">
    <div class="mycoupang-wrapper">
        <div class="mycoupang-wrapper__content">
            <div class="mycoupang-wrapper__content__top">
                <div class="vertical-menu"><span>미사용티켓</span><span class="count-paper">0</span></div>
                <div class="vertical-menu"><span>배송중</span><span class="count-any js-delivery-status">0</span></div>
                <div class="vertical-menu"><span>할인쿠폰</span><span class="count-paper">0</span></div>
                <div class="horizontal-menus">
                    <div class="horizontal-menu"><span>쿠페이 머니</span><span class="js-price">0</span></div>
                    <div class="horizontal-menu"><span>쿠팡캐시</span><span class="js-price">0</span></div>
                </div>
            </div>

        </div>
    </div>
</div>